* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://source.unsplash.com/1600x900/?landscape);
    background-size: cover;
}

.box-all{
    background-color: black;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.box-medium{
    margin-top: 30px;
}

.box-small{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.input-cidade{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 17px;
    background-color: #494848;
    color: #fff;
    width: calc(100% - 70px);
}

.button-search{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #494848;
    cursor: pointer;
    float: right;
}

.img-search{
    width: 20px;
}

.city {
    color: #fff;
    font-size: 28px;
    text-transform: capitalize;
}

.temp {
    font-size: 20px;
    color: #fff;
    margin-top: 30px;
}

.weather {
color: #fff;
margin-left: 10px;
text-transform: capitalize;
}

.moisture {
    color: #fff;
    margin-top: 20px;
   
}